.password__container {
  margin: 0 auto;
  display: flex;
  max-width: 550px;
  margin-top: 240px;
}
.password__wrapper {
  border: 1px solid #bdbdbd;
}

.password__content {
  padding: 0 105px 0 107px;
  display: flex;
  flex-direction: column;
}
.password__cross {
  display: flex;
  justify-content: end;
  margin: 54px 33px 0 0;
}
.password__cross-btn {
  border: none;
  background: transparent;
}
.password__form {
  padding: 0 0 40px;
}
.password__form h2 {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 40px;
}

.form__input {
  height: 50px;
  width: 385px;
  border-radius: 83px;
  border: 1px solid #bdbdbd;
}

.form__input::placeholder {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 31px;
}

.form__label {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.password__button-send {
  height: 50px;
  width: 195px;
  left: 203px;
  top: 316px;
  border-radius: 49px;
  margin: 0 auto;
  margin-bottom: 50px;
  background: linear-gradient(102.48deg, #976464 -29.03%, #cfa5a5 97.75%);
  border: none;
  display: flex;
  font-family: Spectral SC;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: white;
  text-align: center;
  padding: 15px 0 15px 55px;
  margin-top: 50px;
}
