.container {
  /* max-width: 1170px; */
  /* margin: center; */
  text-align: center;
  /* position: center; */
  padding-top: 40px;
}

.title1 {
  font: Raleway;
  font-weight: 400;
  font-size: 40px;
}

.h2z {
  /* font-size: 50px; */
  /* font-family: Raleway; */
  font-family: Raleway;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
}

.h5z {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
}

.divider {
  border-bottom: 1px solid #ec7979;
}

.items {
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* max-width: 1170px; */
  margin-left: 600px;
  margin-right: 600px;
  padding-top: 200px;
}

.h3z {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
}

.pz {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
}
