.container {
  max-width: 1170px;

  margin: 0 auto;
  text-align: center;
}

.title1 {
  font: Raleway;
  font-weight: 400;
  font-size: 40px;
}

.h2z {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
}

.item__image {
  width: 100px;
  height: 100px;
  border: #ec7979 2px solid;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h5z {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
}

.divider {
  border-bottom: 1px solid #ec7979;
  display: block;
  margin: 0 auto;
  width: 170px;
}

.items {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.h3z {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
}

.pz {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
}
