@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500;600&family=Raleway&display=swap");

.banner__container {
  display: flex;
  flex-direction: column;
}

.banner__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #00000080;
  background: linear-gradient(#00000080, rgba(0, 0, 0, 0.8)), url("city.png");
}
.banner__title h2 {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  padding: 60px 0 50px 0;
}
.banner__divider {
  border-bottom: 1px solid #ffffff;
  display: flex;
  width: 170px;
  margin: 0 auto;
}

.banner__description {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  color: #ffffff;
  padding: 50px 0 50px;
  opacity: 70%;
}

.banner__button-download {
  height: 58px;
  width: 370px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0);
  border-radius: 3px;
  border-color: #ffffff;
}

.banner__button {
  padding: 10px 0 50px 0;
}

.banner__button:hover {
  cursor: pointer;
}
