.footer {
  height: 164px;
  /* justify-content: space-between; */
  margin: 0 auto;
  max-width: 1170px;
  background: black;
}

.image__footer {
  padding: 40px 35px 30px;
}

.footer__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px 0 35px 0px;
  margin: 0 auto;
}

.footer__text h3 {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #ffffff80;
}

@media footer (max-width: 1300px) {
  max-resolution: ;
}
