.header__wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1170px;
  height: 100px;
  background-color: black;
}

.header__container {
}
.header__logo {
  align-items: center;
  padding: 0 180px 0 80px;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  width: 600px;
  margin-left: 150px;
}

.header__titles h4 {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  flex-wrap: nowrap;
}
