.pricing {
  background-color: #f5f5f5;
}
.pricing__container {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 40px;
}

.pricing__wrapper {
  padding-top: 50px;
}

.pricing__header-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
}

.pricing__header-divider {
  border-bottom: 1px solid #ec7979;
  display: block;
  margin: 0 auto;
  width: 170px;
  padding: 40px 0 40px 0;
}

.pricing__header-description {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 40px;
}
.pricing__cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.pricing__card {
  width: 370px;
  padding-top: 60px;
}

.pricing__card ul {
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.card-name {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #f5f5f5;
  background: linear-gradient(0deg, #333333, #333333),
    linear-gradient(0deg, #f5f5f5, #f5f5f5);
}

.card-name h4 {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: white;
}

.card-price {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #333333, #333333),
    linear-gradient(0deg, #f5f5f5, #f5f5f5);
  border-bottom: 2px solid #f5f5f5;
}

.card-price h3 {
  font-family: Open Sans;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: white;
}

.card-description {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #333333, #333333),
    linear-gradient(0deg, #f5f5f5, #f5f5f5);
  border-bottom: 2px solid #f5f5f5;
}

.card-description p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff80;
}

.card-offer {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #f5f5f5;
  background-color: #ffffff;
}

.card-offer p {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
