.reviews__header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.reviews__title h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  padding: 40px 0 40px;
}

.reviews__divider {
  border-bottom: 1px solid #ec7979;
  display: block;
  margin: 0 auto;
  width: 170px;
}

.reviews__description h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  padding: 40px 0 40px;
  color: #86878b;
}

.reviews__card {
  display: flex;
  flex-direction: column;
}

.card__message {
  height: 180px;
  width: 370px;
  left: 170px;
  top: 3820px;
  border-radius: 10px;
  background: #e2e2e2;
}

.card__message-text h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #86878b;
  padding: 38px 0px 37px 0px;
  white-space: pre;
}

.card__user {
  display: flex;
  padding-top: 66px;
}

.card__right-name h2 {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

.card__right-profession h3 {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 40px;
}

.card__left {
  padding: 0 30px 0 10px;
}

.reviews__card-bunde {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 1170px;
}
