.social__wrapper {
  margin: 0 auto;
  max-width: 1170px;
  height: 150px;
  background: #f8efef;
  display: flex;
  /* align-items: center; */
}
.social__left {
  margin-left: 150px;
}
.social__left-title h2 {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  text-align: left;
  padding-top: 10px;
}
.social__left-description h4 {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  max-width: 510px;
  padding-top: 40px;
}

.social__right-icons ul {
  display: flex;
  justify-content: space-evenly;
  width: 450px;
  margin: 0 auto;
  height: 150px;
  align-items: center;
  padding-left: 0px;
}
