@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
.section__tabs {
  padding-top: 50px;
}
.container__tabs {
  width: 1170px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.wrapper__tabs {
  width: 1170px;
}
.right__tabs {
  width: 470px;
  height: 500px;
}
.left__tabs {
  width: 700px;
  padding-right: 30px;
  padding-left: 100px;
}
.header__tabs h2 {
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 35px;
}
.description__tabs {
  height: 210px;
  text-align: top;

  display: table-cell;
  vertical-align: top;

  padding: 10px 0 50px 0;
}
.description__tabs h5 {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}
.button__tabs {
  height: 58px;
  width: 270px;
  border-radius: 0px;
  line-height: 1.5;
  background: #ec7979;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  border: none;
  transition: all ease-in-out 2s;
  border: none;
}

.header__tabs {
  height: 124px;
  width: 570px;
}

.footer__tabs button:hover {
  background-color: rgb(64, 0, 255);
  cursor: pointer;
}

.footer__tabs button {
  transition: all ease-in-out 0.5s;
}

.section__tabs-navigation li:active {
  background-color: yellow;
}

.content__tabs {
  border: 1px solid #c6cbcd;
  display: flex;
}

.section__tabs-navigation li {
  list-style: none;
  height: 40px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid white;
  width: 205px;
}

.section__tabs-navigation ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.section__tabs-navigation a {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  color: #333333;
  height: 100%;
  width: 100%;
  font-family: "Open Sans";
}
