.tabs {
  padding-top: 60px;
}
.container__tabs {
  max-width: 1170px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.right__tabs {
  max-width: 470px;
  min-height: 500px;
  flex-grow: 1;
}
.right__tabs-img {
  max-width: 470px;
  min-height: 500px;
  /* flex-grow: 1; */
  max-width: 120%;
}
.left__tabs {
  max-width: 700px;
  padding-right: 30px;
  padding-left: 100px;
}
.header__tabs h2 {
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 35px;
}
.description__tabs {
  min-height: 210px;
  text-align: top;

  display: table-cell;
  vertical-align: top;

  padding: 10px 0 50px 0;
}
.description__tabs h5 {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}
.button__tabs {
  height: 58px;
  width: 270px;
  border-radius: 0px;
  line-height: 1.5;
  background: #ec7979;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  border: none;
  transition: all ease-in-out 2s;
  border: none;
}

.header__tabs {
  height: 124px;
  width: 570px;
}

.footer__tabs button:hover {
  background-color: rgb(64, 0, 255);
  cursor: pointer;
}

.footer__tabs button {
  transition: all ease-in-out 0.5s;
}

.tabs-navigation li:active {
  background-color: yellow;
}

.content__tabs {
  border: 1px solid #c6cbcd;
  display: flex;
}

.tabs-navigation li {
  list-style: none;
  height: 40px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid white;
  width: 205px;
}

.tabs-navigation ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.tabs-navigation a {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  color: #333333;
  height: 100%;
  width: 100%;
  font-family: "Open Sans";
}
@media screen and (max-width: 1190px) {
  .left__tabs {
    padding-left: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .header__tabs h2 {
    font-size: 24px;
  }
  .description__tabs h5 {
    font-size: 14px;
    line-height: 16.44px;
  }
  .button__tabs {
    width: 230px;
  }
  .left__tabs {
    max-width: 500px;
    padding-left: 30px;
  }
  .footer__tabs {
    justify-content: center;
    display: flex;
  }
}
@media screen and (max-width: 600px) {
  .header__tabs h2 {
    font-size: 18px;
    text-align: center;
  }
  .description__tabs h5 {
    font-size: 13px;
    line-height: 15.26px;
    text-align: center;
    padding: 0 60px;
  }
  .button__tabs {
    height: 50px;
    width: 242px;
  }

  .left__tabs {
    min-height: 431px;
    max-width: 388px;
    /* width: 100%; */
    max-width: 100%;
  }
  .right__tabs {
    max-width: 0%;
  }
  .description__tabs {
    min-height: 550px;
  }
  .tabs-navigation li {
    width: 120px;
  }
  .tabs-navigation {
    padding-left: 130px;
  }
}

@media screen and (max-width: 450px) {
  .description__tabs h5 {
    padding: 0 160px;
  }
  .tabs-navigation li {
    width: 100px;
  }
  .tabs-navigation {
    padding-left: 160px;
  }
}
